In [487]:
# !pip install numpy
# !pip install pandas
# !pip install finta
# !pip install yfinance

In [488]:
from finta import TA
import numpy as np
import pandas as pd
import yfinance as yf

In [489]:
btc = yf.Ticker('BTC-USD')
hist = btc.history(period="3mo",interval="1h")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0
...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0

In [490]:
cci=TA.CCI(hist,14)
cci

2022-02-24 10:00:00+00:00           NaN
2022-02-24 11:00:00+00:00     66.666667
2022-02-24 12:00:00+00:00     60.508262
2022-02-24 13:00:00+00:00    133.333333
2022-02-24 14:00:00+00:00    109.342306
                                ...
2022-05-24 07:00:00+00:00     19.584678
2022-05-24 08:00:00+00:00    -17.200017
2022-05-24 09:00:00+00:00    -10.966466
2022-05-24 10:00:00+00:00     33.716872
2022-05-24 10:41:00+00:00     48.173103
Name: 14 period CCI, Length: 2138, dtype: float64

In [491]:
hist['cci']=cci
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cci
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0,NaN
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0,66.666667
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0,60.508262
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0,133.333333
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0,109.342306
...,...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0,19.584678
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0,-17.200017
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0,-10.966466
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0,33.716872
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0,48.173103

In [492]:
def signal(cci_past, cci_current):
    if cci_past < -150 and cci_current > -150:
        return 'buy'
    elif cci_past > 150 and cci_current < 150:
        return 'sell'
    else:
        return 'no signal'

In [493]:
hist['idx']=range(0,len(hist))
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cci,idx
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0,NaN,0
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0,66.666667,1
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0,60.508262,2
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0,133.333333,3
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0,109.342306,4
...,...,...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0,19.584678,2133
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0,-17.200017,2134
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0,-10.966466,2135
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0,33.716872,2136
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0,48.173103,2137

In [494]:
hist['signal'] = hist.apply(lambda row: signal(hist.iloc[int(row['idx']-1)]['cci'],row['cci']), axis=1)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cci,idx,signal
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0,NaN,0,no signal
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0,66.666667,1,no signal
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0,60.508262,2,no signal
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0,133.333333,3,no signal
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0,109.342306,4,no signal
...,...,...,...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0,19.584678,2133,no signal
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0,-17.200017,2134,no signal
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0,-10.966466,2135,no signal
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0,33.716872,2136,no signal
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0,48.173103,2137,no signal

In [495]:
def status(signal,status_past):
    if signal=='buy' and (status_past=='cash' or status_past=='sell'):
        return 'buy'
    elif signal=='sell' and (status_past=='hold' or status_past=='buy'):
        return 'sell'
    elif signal=='no signal' and (status_past=='buy' or status_past=='hold'):
        return 'hold'
    elif status_past=='hold':
        return 'hold'
    elif status_past=='cash':
        return 'cash'
    else:
        return 'cash'

In [496]:
status_list = []
status_list.append('cash')
for i in range(1, len(hist)-1):
    status_list.append(status(hist.iloc[i]['signal'], status_list[i-1]))
status_list.append('sell')

hist['status'] = status_list

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cci,idx,signal,status
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0,NaN,0,no signal,cash
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0,66.666667,1,no signal,cash
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0,60.508262,2,no signal,cash
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0,133.333333,3,no signal,cash
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0,109.342306,4,no signal,cash
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0,19.584678,2133,no signal,hold
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0,-17.200017,2134,no signal,hold
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0,-10.966466,2135,no signal,hold
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0,33.716872,2136,no signal,hold
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0,48.173103,2137,no signal,sell

In [497]:
bb_list = []
cb_list = []
cb_list.append(float(1000))
bb_list.append(float(0))
for i in range(1, len(hist)):
    status = hist.status[i]
    price = float(hist.Close[i])
    if status == 'buy':
        bb_list.append(float(cb_list[i-1]/price))
        cb_list.append(float(0))
    elif status == 'sell':
        cb_list.append(float(bb_list[i-1]*price))
        bb_list.append(float(0))
    elif status=='cash':
        bb_list.append(float(0))
        cb_list.append(cb_list[i-1])
    elif status=='hold':
        bb_list.append(bb_list[i-1])
        cb_list.append(float(0))
        


hist['bb'] = bb_list
hist['cb'] = cb_list

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cci,idx,signal,status,bb,cb
2022-02-24 10:00:00+00:00,35408.304688,35448.898438,34997.800781,35215.960938,0,0,0,NaN,0,no signal,cash,0.000000,1000.000000
2022-02-24 11:00:00+00:00,35223.175781,35469.503906,34997.011719,35400.265625,841666560,0,0,66.666667,1,no signal,cash,0.000000,1000.000000
2022-02-24 12:00:00+00:00,35407.566406,35436.937500,35160.335938,35300.261719,512614400,0,0,60.508262,2,no signal,cash,0.000000,1000.000000
2022-02-24 13:00:00+00:00,35298.203125,35649.437500,35202.859375,35632.308594,896770048,0,0,133.333333,3,no signal,cash,0.000000,1000.000000
2022-02-24 14:00:00+00:00,35610.687500,35789.734375,35359.433594,35646.777344,1343451136,0,0,109.342306,4,no signal,cash,0.000000,1000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-24 07:00:00+00:00,29319.578125,29407.121094,29311.628906,29380.152344,150841344,0,0,19.584678,2133,no signal,hold,0.024157,0.000000
2022-05-24 08:00:00+00:00,29380.179688,29386.492188,29191.687500,29191.687500,152817664,0,0,-17.200017,2134,no signal,hold,0.024157,0.000000
2022-05-24 09:00:00+00:00,29188.097656,29308.343750,29172.167969,29275.960938,345364480,0,0,-10.966466,2135,no signal,hold,0.024157,0.000000
2022-05-24 10:00:00+00:00,29292.218750,29325.228516,29277.208984,29290.644531,120272896,0,0,33.716872,2136,no signal,hold,0.024157,0.000000
2022-05-24 10:41:00+00:00,29304.392578,29304.392578,29304.392578,29304.392578,0,0,0,48.173103,2137,no signal,sell,0.000000,707.895228