In [2]:
# imports
from finta import TA
import pandas as pd
import numpy as np
import yfinance as yf

In [4]:
# catch dataframe
btc = yf.Ticker("BTC-USD")
hist = btc.history(period="1mo",interval="30m")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-03-30 19:00:00+00:00,47186.074219,47186.074219,47015.507812,47021.000000,5036032,0,0
2022-03-30 19:30:00+00:00,47015.515625,47054.722656,46942.980469,47033.839844,256952320,0,0
2022-03-30 20:00:00+00:00,47037.597656,47115.539062,47037.597656,47065.691406,181825536,0,0
2022-03-30 20:30:00+00:00,47061.312500,47205.941406,47059.621094,47205.941406,103849984,0,0
2022-03-30 21:00:00+00:00,47212.214844,47239.824219,47173.839844,47193.171875,6033408,0,0
...,...,...,...,...,...,...,...
2022-04-30 17:00:00+00:00,38474.375000,38474.375000,38336.554688,38336.554688,98351104,0,0
2022-04-30 17:30:00+00:00,38320.117188,38378.199219,38272.636719,38289.031250,157372416,0,0
2022-04-30 18:00:00+00:00,38298.078125,38349.933594,38282.472656,38285.574219,45150208,0,0
2022-04-30 18:30:00+00:00,38319.187500,38319.187500,38253.738281,38281.816406,80238592,0,0
2022-04-30 19:00:00+00:00,38332.714844,38367.722656,38332.714844,38364.949219,42493952,0,0

In [15]:
rsi=TA.RSI(hist,10)
rsi

Datetime
2022-03-30 19:00:00+00:00           NaN
2022-03-30 19:30:00+00:00    100.000000
2022-03-30 20:00:00+00:00    100.000000
2022-03-30 20:30:00+00:00    100.000000
2022-03-30 21:00:00+00:00     92.667701
                                ...
2022-04-30 17:00:00+00:00     35.417785
2022-04-30 17:30:00+00:00     32.927953
2022-04-30 18:00:00+00:00     32.741913
2022-04-30 18:30:00+00:00     32.520001
2022-04-30 19:00:00+00:00     42.156630
Freq: 30T, Name: 10 period RSI, Length: 1489, dtype: float64

In [16]:
cci=TA.CCI(hist,14)
cci

Datetime
2022-03-30 19:00:00+00:00           NaN
2022-03-30 19:30:00+00:00    -66.666667
2022-03-30 20:00:00+00:00     48.511631
2022-03-30 20:30:00+00:00    133.333333
2022-03-30 21:00:00+00:00    107.966604
                                ...
2022-04-30 17:00:00+00:00   -112.619995
2022-04-30 17:30:00+00:00   -133.977142
2022-04-30 18:00:00+00:00   -116.429837
2022-04-30 18:30:00+00:00   -108.472984
2022-04-30 19:00:00+00:00    -53.499614
Freq: 30T, Name: 14 period CCI, Length: 1489, dtype: float64

In [17]:
macd=TA.MACD(hist,12,26,9)
macd

                                MACD     SIGNAL
Datetime
2022-03-30 19:00:00+00:00   0.000000   0.000000
2022-03-30 19:30:00+00:00   0.288073   0.160041
2022-03-30 20:00:00+00:00   1.354778   0.649687
2022-03-30 20:30:00+00:00   6.870406   2.756977
2022-03-30 21:00:00+00:00   9.214748   4.678018
...                              ...        ...
2022-04-30 17:00:00+00:00 -66.851128 -56.749617
2022-04-30 17:30:00+00:00 -77.450867 -60.889867
2022-04-30 18:00:00+00:00 -85.148650 -65.741624
2022-04-30 18:30:00+00:00 -90.509089 -70.695117
2022-04-30 19:00:00+00:00 -87.045744 -73.965242

[1489 rows x 2 columns]

In [18]:
pivots=TA.PIVOT(hist)
pivots

,pivot,s1,s2,s3,s4,r1,r2,r3,r4
Datetime,,,,,,,,,
2022-03-30 19:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-30 19:30:00+00:00,47074.194010,46962.313802,46903.627604,46791.747396,46679.867187,47132.880208,47244.760417,47303.446615,47362.132812
2022-03-30 20:00:00+00:00,47010.514323,46966.305990,46898.772135,46854.563802,46810.355469,47078.048177,47122.256510,47189.790365,47257.324219
2022-03-30 20:30:00+00:00,47072.942708,47030.346354,46995.001302,46952.404948,46909.808594,47108.287760,47150.884115,47186.229167,47221.574219
2022-03-30 21:00:00+00:00,47157.167969,47108.394531,47010.847656,46962.074219,46913.300781,47254.714844,47303.488281,47401.035156,47498.582031
...,...,...,...,...,...,...,...,...,...
2022-04-30 17:00:00+00:00,38519.651042,38445.794271,38408.865885,38335.009115,38261.152344,38556.579427,38630.436198,38667.364583,38704.292969
2022-04-30 17:30:00+00:00,38382.494792,38290.614583,38244.674479,38152.794271,38060.914062,38428.434896,38520.315104,38566.255208,38612.195312
2022-04-30 18:00:00+00:00,38313.289062,38248.378906,38207.726562,38142.816406,38077.906250,38353.941406,38418.851562,38459.503906,38500.156250
2022-04-30 18:30:00+00:00,38305.993490,38262.053385,38238.532552,38194.592448,38150.652344,38329.514323,38373.454427,38396.975260,38420.496094
2022-04-30 19:00:00+00:00,38284.914062,38250.640625,38219.464844,38185.191406,38150.917969,38316.089844,38350.363281,38381.539062,38412.714844

In [19]:
hist['rsi']=rsi
hist['cci']=cci
hist['macd-line']=macd['MACD']
hist['macd-signal']=macd['SIGNAL']
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd-line,macd-signal,rsi,cci
Datetime,,,,,,,,,,,
2022-03-30 19:00:00+00:00,47186.074219,47186.074219,47015.507812,47021.000000,5036032,0,0,0.000000,0.000000,NaN,NaN
2022-03-30 19:30:00+00:00,47015.515625,47054.722656,46942.980469,47033.839844,256952320,0,0,0.288073,0.160041,100.000000,-66.666667
2022-03-30 20:00:00+00:00,47037.597656,47115.539062,47037.597656,47065.691406,181825536,0,0,1.354778,0.649687,100.000000,48.511631
2022-03-30 20:30:00+00:00,47061.312500,47205.941406,47059.621094,47205.941406,103849984,0,0,6.870406,2.756977,100.000000,133.333333
2022-03-30 21:00:00+00:00,47212.214844,47239.824219,47173.839844,47193.171875,6033408,0,0,9.214748,4.678018,92.667701,107.966604
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30 17:00:00+00:00,38474.375000,38474.375000,38336.554688,38336.554688,98351104,0,0,-66.851128,-56.749617,35.417785,-112.619995
2022-04-30 17:30:00+00:00,38320.117188,38378.199219,38272.636719,38289.031250,157372416,0,0,-77.450867,-60.889867,32.927953,-133.977142
2022-04-30 18:00:00+00:00,38298.078125,38349.933594,38282.472656,38285.574219,45150208,0,0,-85.148650,-65.741624,32.741913,-116.429837
2022-04-30 18:30:00+00:00,38319.187500,38319.187500,38253.738281,38281.816406,80238592,0,0,-90.509089,-70.695117,32.520001,-108.472984
2022-04-30 19:00:00+00:00,38332.714844,38367.722656,38332.714844,38364.949219,42493952,0,0,-87.045744,-73.965242,42.156630,-53.499614

In [21]:
def signal(rsi, macd, cci):
    if rsi > 50 and macd > 0 and cci > 0:
        return 'buy'
    elif rsi < 50 and macd > 0 and cci > 0:
        return 'sell'
    else:
        return '-'


hist['signal'] = hist.apply(lambda row: signal(
    row['rsi'], row['macd-line'],row['cci']), axis=1)

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd-line,macd-signal,rsi,cci,signal
Datetime,,,,,,,,,,,,
2022-03-30 19:00:00+00:00,47186.074219,47186.074219,47015.507812,47021.000000,5036032,0,0,0.000000,0.000000,NaN,NaN,-
2022-03-30 19:30:00+00:00,47015.515625,47054.722656,46942.980469,47033.839844,256952320,0,0,0.288073,0.160041,100.000000,-66.666667,-
2022-03-30 20:00:00+00:00,47037.597656,47115.539062,47037.597656,47065.691406,181825536,0,0,1.354778,0.649687,100.000000,48.511631,buy
2022-03-30 20:30:00+00:00,47061.312500,47205.941406,47059.621094,47205.941406,103849984,0,0,6.870406,2.756977,100.000000,133.333333,buy
2022-03-30 21:00:00+00:00,47212.214844,47239.824219,47173.839844,47193.171875,6033408,0,0,9.214748,4.678018,92.667701,107.966604,buy
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30 17:00:00+00:00,38474.375000,38474.375000,38336.554688,38336.554688,98351104,0,0,-66.851128,-56.749617,35.417785,-112.619995,-
2022-04-30 17:30:00+00:00,38320.117188,38378.199219,38272.636719,38289.031250,157372416,0,0,-77.450867,-60.889867,32.927953,-133.977142,-
2022-04-30 18:00:00+00:00,38298.078125,38349.933594,38282.472656,38285.574219,45150208,0,0,-85.148650,-65.741624,32.741913,-116.429837,-
2022-04-30 18:30:00+00:00,38319.187500,38319.187500,38253.738281,38281.816406,80238592,0,0,-90.509089,-70.695117,32.520001,-108.472984,-
2022-04-30 19:00:00+00:00,38332.714844,38367.722656,38332.714844,38364.949219,42493952,0,0,-87.045744,-73.965242,42.156630,-53.499614,-